In [1]:
import pandas as pd
import scipy.stats as stats

# Dataset: sardine.dat

Source: F.N. Clark (1936). "Variations in the Number of Vertebrae in Sardine,
Sardinops caerulea (Girard)", Copeia, Vol. 1936, #3, pp.147-150.

Description: Number of Vertebrae and Location of 12858 adult sardines caught
in the Pacific.

Locations:
1=Alaska
2=British Columbia
3=San Francisco
4=Monterey
5=San Pedro
6=San Diego


Variables/Columns
Location   8
Number of Vertebrae   15-16

In [2]:
df = pd.read_csv("../Resources/sardines.csv")
df.head()

   location  vertebrae
0         1         51
1         1         51
2         1         51
3         1         51
4         1         51

In [10]:
# Calculate the population mean for Sardine Vertebrae in Alaska

df['location'].mean

ValueError: No axis named 1 for object type <class 'pandas.core.series.Series'>

In [ ]:
# Calculate the population mean for Sardine Vertebrae in San Diego

In [ ]:
# Calculate Independent (Two Sample) T-Test